<div class="row crawl">
  <div class="col-md-2 crawl-button">
    <%= link_to "Crawl!", crawl_path, :class => "btn btn-success btn-lg btn-primary" %>
  </div>
  <div class="col-md-10 offer-count">
    <h3><%= @offers.count %> Offers</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10 offers">
    <%= div_for(@offers, class: "jumbotron offer") do |offer| %>
      <h3><%= offer.title%></h3>
      <p><%= offer.description%></p>
      <div class="get_deal">
        <a class="btn btn-primary btn-lg" role="button">Get deal</a>
      </div>
    <% end %>
  </div>
</div>